body {
    background-color: whitesmoke;
    margin: 0;
}


/*GENERELLE TING ---------------*/


.sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

@media only screen and (max-width: 375px) {
    .sectionwrapper {

        border-radius: 10px;
        padding: 15px;
    }
}

.hidden {
    Transform: scale(0);
}


section {
    max-width: 1200px;
    margin: 0 auto;
}


img {
    width: 100%;
}

footer {
    text-align: center;
    margin-top: 50px;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-grow: 2;
    flex-basis: 200px;

}

/*GENERELLE TING SLUTTER ----------*/

/*HEADER STARTER ---------------*/


header {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 1;

}

.header_text {
    background-color: #80acb9;
    max-width: 100%;
    position: fixed;
    justify-content: left;
    top: 0px;
    left: 3px;
    padding: 30px;

}

header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem 2rem;

}

header nav a {
    margin: 0.25rem;
    padding: 0.25rem;
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'lato', sans-serif;
    text-transform: uppercase;

}


header nav a:hover {
    background-color: #5ec7c7;
    color: whitesmoke;
}

.header_text {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header_texta:last-child {
    border-right: none;

}

@media only screen and (min-width: 725px) {

    #menuknap {
        display: none;
    }
}

@media only screen and (max-width: 725px) {
    .header_text {
        display: none;

    }
}

#menuknap {
    display: inline-block;
    font-size: 2rem;

}

#menu {
    list-style-type: none;
    transform-origin: top left;
    text-align: right;
    background-color: whitesmoke;
}

/*HEADER SLUTTER ---------------*/
/*
#om .sectionwrapper {
    background-color: rgba(188, 143, 143, 0.56);
}
*/


/*FORSIDE STARTER -----------------------*/


.forside {
    display: flex;
    justify-content: space-between;
}

.forside div {
    flex-basis: 200px;
    flex-grow: 1;

    border: 1px solid white;

}

#forside {
    max-width: none;
    padding-top: 100px;
    position: relative;
    text-align: center;
    color: black;

}

/*

.koer_bil {
    animation-name: koer_bil;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    transform-origin: top left;
    animation-timing-function: linear;

}

@keyframes koer_bil {
    0% {
        transform: translateY(0vw) scale(1)
    }

    100% {
        transform: translateY(-15vw) scale(0);
    }
}
*/

/*

}

.hide {
    display: none;
}
*/

.fade_in {
    animation-name: fade_in_kf;
    animation-duration: 1.8s;
    animation-iteration-count: 1;
}

@keyframes fade_in_kf {
    0% {
        /*        opacity: 0;*/
        transform: translate(-1000px);
    }

    100% {
        /*        opacity: 1;*/
        transform: translate(0px);
    }

}


.centered {
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: 45%;
    left: 10%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 3rem;
    line-height: 30px;
    text-transform: uppercase;
    border-radius: 7px;
    background-color: #80acb9;
    padding: 25px;
    animation-name: fade_in2_kf;
    animation-duration: 1.8s;
    animation-iteration-count: 1;
}

@keyframes fade_in2_kf {
    0% {
        opacity: 0;
        transform: translatey(1000px);

    }

    100% {
        opacity: 1;
        transform: translatey(0);

    }

}


@media only screen and (max-width: 1140px) {
    .centered {
        display: flex;
        position: absolute;
        bottom: 25%;
        left: 30%;
        transform: translate(-50%, -50%);

        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        animation-name: fade_in2_kf;
        animation-duration: 4s;
        animation-iteration-count: 1;
        transition: ease-in;
    }

    @keyframes fade_in2_kf {
        0% {
            opacity: 0;

        }

        100% {
            opacity: 1;

        }

    }
}
}


@media only screen and (max-width: 768px) {
    .centered {
        bottom: 65%;
        left: 50%;
        font-size: 1.5rem;
        height: 20px;
        width: 300px;
        line-height: 15px;
        align-items: center;
        justify-content: center;
        animation-name: fade_in2_kf;
        animation-duration: 4s;
        animation-iteration-count: 1;
        transition: ease-in;

    }

    @keyframes fade_in2_kf {
        0% {
            opacity: 0;

        }

        100% {
            opacity: 1;

        }

    }

}


@media only screen and (max-width: 627px) {
    .centered {
        bottom: 63%;
        left: 50%;
        font-size: 1.5rem;
        line-height: 15px;
        height: 20px;
        width: 300px;
        align-items: center;
        justify-content: center;

    }
}

/*FORSIDE SLUTTER ---------------------*/

/*OM SEKTION STARTER-----------*/

#om {
    padding-top: 100px;
    max-width: 100%;
}

#om .column {

    flex-grow: 2;
    flex-basis: 400px;
    padding: 15px;

}

#om .sectionwrapper {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 25px;
}

#cv {
    padding-top: 100px;
    max-width: 100%;
}


#cv .column_big {
    flex-grow: 2;
    flex-basis: 400px;
    padding: 15px;
    text-align: right;

}

#cv .column_small {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 15px;
}

#cv .sectionwrapper {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 25px;
}

/*OM MIG ANIMATION*/

.om_mig {
    display: flex;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.5rem;
    color: #999;
    justify-content: center;
    padding: 20px;
}

.om_mig p {
    height: 20px;
    float: left;
    margin-right: 50px;
    font-size: 1.4rem;
    position: relative;
    bottom: 10px;
}

.om_mig b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 0;
}

.om_mig .inner_om_mig {
    display: inline-block;
    color: #202334;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;


    /*animation*/
    animation: move 25s;
    /*animation-iteration-count*/
    animation-iteration-count: infinite;
    /*animation-delay*/
    animation-delay: 1s;
}

@keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}



/*OM SEKTION SLUTTER ----------------------------*/

#eksempler .column {

    /*    child*/
    flex-grow: 1;
    flex-basis: 200px;
    margin: 2px;
    /*    parent*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    /*    border: 1px solid #9fb4ba;*/
    background-color: whitesmoke;
    padding: 5px;

    /*    background-color: #323234;*/

}

#eksempler {
    padding-top: 100px;
}

#eksempler h2 {
    background-color: white;

}


/*SKRIFT STARTER ------------------------*/

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #5ec7c7;
    text-transform: uppercase;
    font-weight: 400;
}

h2,
h3 {
    font-family: 'Lato', sans-serif;

}


h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}



p {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
}


/*LINK -------------------------*/

#eksempler a {
    text-decoration: none;
}

/* unvisited link */

#eksempler a:link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}


/* visited link */
#eksempler a:visited {
    text-transform: uppercase;
    color: #5ec7c7;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

/* mouse over link */
#eksempler a:hover {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    border: 2px solid #5ec7c7;
    padding: 5px;

}

/* selected link */

#eksempler a:active {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}


/*SKRIFT SLUTTER ---------------------------*/



/*MY PROJECTS STARTER HER ------------------*/

/*pop up effekt på box */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element {
    position: absolute;
    opacity: 0;
    padding: 100px;
    background: #202334;
    transition: 0.3s ease-in-out all;
    color: white;
}

.element h3 {
    font-size: 2rem;
    margin: 8px;
}

/*Hover effecten*/
.box:hover .element {
    opacity: 0.9;

}

/*EFFEKTER SLUTTER----------------- */

/*PROJECT ---------------------*/
/*KNAPPER ----------------*/


#project .linkbox a {
    text-decoration: none;
}

#project .linkbox2 a {
    text-decoration: none;
}

/* unvisited link */

#project .linkbox a:link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

#project .linkbox2 a:link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
}


/* visited link */
#project .linkbox a:visited {
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

#project .linkbox2 a:visited {
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

/* mouse over link */
#project .linkbox:hover {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    background-color: #202334;

}

#project .linkbox2:hover {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    background-color: #202334;

}

/* selected link */

#project .linkbox a:active {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

#project .linkbox2 a:active {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

#project .linkbox {
    width: 65%;
    height: 11%;
    border-radius: 7px;
    margin: 0;
    padding: 20px;
    background-color: #5ec7c7;
    margin-top: 140px;
    display: flex;
    justify-content: center;
}

#project .linkbox2 {
    width: 65%;
    height: 11%;
    border-radius: 7px;
    margin: 0;
    padding: 20px;
    background-color: #5ec7c7;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

#project .top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

#project .bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


#project .sectionwrapper {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 25px;
}

#project .column {

    flex-grow: 2;
    flex-basis: 400px;
    padding: 15px;
}

#project {
    max-width: 100%;
    padding-top: 100px;
}

#project h2,
#project h3,
#project h4 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: left;

}

#project h2 {
    font-size: 2rem;
    margin: 6px;
    font-weight: 300;
}

#project h3 {
    font-size: 1.5rem;
    margin: 6px;
    font-weight: 600;
}


#project h4 {
    font-size: 1rem;
    margin: 6px;
    font-weight: 400;
}

/*BAGGRUNDE ----------*/

#project .baggrund1 {
    background-color: white;
}

#project .baggrund2 {
    background-color: #dae2ea;
}

#project .baggrund3 {
    background-color: #c2c7d4;
}

#project .baggrund4 {
    background-color: #e3edf4;
}

#project .baggrund5 {
    background-color: #91afc1;
}

#project .baggrund6 {
    background-color: #758396;
}

#project .baggrund7 {
    background-color: #9a9ca3;
}

#project .baggrund8 {
    background-color: #c4cbd3;
}


#project .baggrund9 {
    background-color: #879fb4;
}
